// COLOR SCHEME
$white : #ffffff;
$border : #bfbfbf;
$gris : #505050;

$black : #000000;
$sable : #060606;
$charcoal : #2e1503;

$tangerine : #ffaf6d;
$orange : #ffa500;

$hipertext : #684cb6;

// TYPOGRAPHY
$ubuntu : 'Ubuntu';
$poppins : 'Poppins';

// FONT SIZES
$fs-xxxxx-large : 50px;
$fs-xxxx-large : 45px;
$fs-xxx-large : 40px;
$fs-xx-large : 35px;
$fs-x-large : 30px;
$fs-large : 20px;
$fs-medium : 16px;
$fs-small : 14px;
$fs-x-small : 12px;

// BREAKPOINT
$media-sm : 568px;
$media-md : 768px;
$media-lg : 992px;
$media-xl : 1200px;